body{
    background-image: url("../images/accra__ghana.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{ 
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: inherit;
}
h2,h3{
    font-size:large;
    text-align: center;
    font-weight: bolder;
    color: black;

}
form{
    background-color: rgb(255, 222, 255);
    background-size: contain;
    border-radius: 20px;
    padding: 10px;
    height: 200px;
    width: 700px;
  
}
input[type=number] {
    width: 80%;
    padding-bottom: 5px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 5px;
}
button[type= submit] {
    background-color: blueviolet;
    color : white;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    width: 150px;
    height: 30px;
    font-weight: bolder;
    text-align: center;
}
button[type=submit]:hover{
    background-color:black;
}
.paragraph{
    border-radius: 10px;
    box-sizing: content-box;
    background-color: skyblue;
    font-weight: bolder;
    font-size: large;
    padding: 5px;
    margin: 10px;
    color: black;
    width: 500px;
    height: 150px;
    text-align: center;
    
}
